/* common_res.css */

@charset "UTF-8";

.resBtn {display: none;}

@media (max-width: 1199px){
    header .wrap{width: 100%;}
}

@media (max-width: 767px){
    body.showMenu {overflow-y: hidden;}

    .resBtn {display: block; position: absolute; top: 0; right: 0; width: 60px; height: 60px;}
    .resBtn.active { position: fixed; z-index: 12; }
    .resBtn ul li {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    .resBtn ul li img {display: block; height: 30px; cursor: pointer;}
    .resBtn ul li:last-child img {filter: brightness(0) invert(100); display: none;}
    .resBtn.active ul li:first-child img {display: none;}
    .resBtn.active ul li:last-child img {display: block;}

    header .wrap nav {position: fixed; top: 0; left:0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); z-index: 11; transform: translateY(-100%); transition: transform 0.5s;}
    header .wrap nav.active { transform: translateY(0); transition: transform 0.5s; }

    header .wrap nav ul { width: 100%;height: 100%; flex-direction: column; align-items: center; justify-content: center;}
    header .wrap nav ul li {padding: 30px 0; margin: 0;}
    header .wrap nav ul li a {font-size: 28px; font-weight: 500;}
}