/*sub_res.css*/
@charset "utf-8";

@media (max-width:1199px){
  section .wrap{width: 100%; padding: 0 20px;}
}
@media (max-width:991px){
  section .wrap .cont > div{width: calc(50% - 20px);}
  footer{position: static;}
}

@media (max-width:575px){
  section .wrap .cont > div{width: calc(100% - 20px);}
}